<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ffmpegPath" value="C:\Users\USER\Downloads\ffmpeg-master-latest-win64-gpl\ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe"/>
		<add key="ffprobePath" value="C:\Users\USER\Downloads\ffmpeg-master-latest-win64-gpl\ffmpeg-master-latest-win64-gpl\bin\ffprobe.exe"/>
	</appSettings>
</configuration>