<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ffmpegPath" value="D:\games\ffmpeg\ffmpeg-master-latest-win64-gpl-shared\bin\ffmpeg.exe"/>
		<add key="ffprobePath" value="D:\games\ffmpeg\ffmpeg-master-latest-win64-gpl-shared\bin\ffprobe.exe"/>
	</appSettings>
</configuration>